aclocal.m4
aclocal/libtool.m4
aclocal/ltoptions.m4
aclocal/ltsugar.m4
aclocal/ltversion.m4
aclocal/lt~obsolete.m4
autom4te.cache/
build-aux/
config.log
config.status
configure
Makefile.in
Makefile
libtool
include/ac_config.h
include/ac_config.h.in
include/cc_config.h
*.o
*.lo
*.a
*.la
*.so
include/stamp-h1
*.h.in~
*.sw[op]
.deps
.libs
.dirstamp
*.tar.gz
doc/*.tag
doc/html
src/fonts
src/fontem
src/fonttest
